{% macro item_exact(text, link, requested_path, href) %}
    <a {%- if requested_path == link %} class="active" {%- endif %} href="{{ href ?? "#{link}.html" }}" >{{ text }}</a>
{% endmacro %}
{% macro item(text, link, requested_path, href) %}
    <a {%- if requested_path starts with link %} class="active" {%- endif %} href="{{ href ?? "#{link}.html" }}" >{{ text }}</a>
{% endmacro %}
