body {
    background-color: #fff;
    color: #333;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.2;
    margin: 0;
}
h1 {
    font-size:3rem;
    font-weight: 300;
    margin: .5rem 0 .5rem 0;
}
h2 {
    font-size: 2rem;
    font-weight: 300;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
h2.subline, h3.subline {
    font-size: 1rem;
    margin-top: -.5rem;
    font-weight: 300;
    color: tomato;
}

/*noinspection CssUnusedSymbol*/
h3.subline {
    margin-top: -1.5rem;
}

main a {
    color: #953535;
    display: inline-block;
}
main a:hover {
    background-color: rgba(149, 53, 53, .75);
    color: #fff;
    padding: .3125rem;
    margin: -.3125rem;
}

pre code {
    display: block;
    padding: 1rem;
    background-color: #ddd;
    overflow-x: auto;
}

.block {
    background-color: #95353533;
    border: 1px solid #953535;
    padding: 1rem;
    margin: 1rem;
}

header {
    position: sticky;
    top: 0;
    background-color: #eeeeeeee;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

main {
    padding: 1rem;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}



nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 1rem 1rem;
    min-height: 4rem;
}

nav a {
    text-decoration: none;
    color: rgba(149, 53, 53, .75);
    background-color: #fff;
    border-radius: .25rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-bottom: 3px solid rgba(149, 53, 53, .75);
}

nav a.active,
nav a:hover,
nav a:focus {
    color: #fff;
    background-color: rgba(149, 53, 53, .75);
    border-bottom: 3px solid #fff;
}

body[data-type=error] code.language-error {
    background-color:#ddd;
    color: #888;
}
