{% import "helper/navigation.html.twig" as nav %}
<!DOCTYPE html>
<html lang="{{ var.locale|default('en') }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" >
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="{{ css('main.css') }}">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body {%- if type is defined %} data-type="{{ type }}" {%- endif %}>
<header>
    <nav>
        {{ nav.item_exact('Startpage', '/index.html', requested_path, '/') }}
        {{ nav.item('Demo', '/subpath/demo', requested_path) }}
        {{ nav.item('Error', '/error', requested_path) }}
        {{ nav.item('Redirect', '/redirect-302-to-index', requested_path) }}
        {{ nav.item('404', '/404', requested_path) }}
    </nav>
</header>
<main>
{% block body %}
    Hello World
{% endblock %}
</main>
</body>
</html>
